:root {
/* to use these colors: var(--highlight-color);  */

/*------- colors -------*/

    --orange: #ffb300;
    --light-orange: #ffd740;
    --bright-blue: #18ffff;
    --white: #fff;
    --dark-gray: #01040d;
    --light-gray: #00162f;
    --black: #01040d;

    --gradient-down: linear-gradient(180deg, var(--dark-gray), var(--light-gray)) ;

/*------- uses -------*/

    --highlight-color: var(--orange);
    --highlight-color-light: var(--light-orange);
    --info-color:var(--bright-blue);
    --main-color: var(--white);
    --dark-bg-color: var(--dark-gray);
    --light-bg-color: var(--light-gray);
    --darkest-color: var(--black);

/*------- fonts -------*/
    --font-family-body: 'Montserrat:400', sans-serif;
    --font-family-header: 'Montserrat:700', sans-serif;

/*------- borders -------*/
    --white-border: 1px solid var(--main-color);
    --color-border: 1px solid var(--orange);

/*------- margins -------*/   
    --left-margin: 2em;
    
}

/*------- add classes here to take on certain characteristics -------*/
/*-- callout treatment ---*/
input {
font-weight: 200;
letter-spacing: 4px;
}

/*-- header treatment ---*/
strong, button, .btn {
    font-weight: 700;
    letter-spacing: 4px;
}

/*-- main text treatment ---*/
body {
    font-weight: 400;
    letter-spacing: 2px;
    -webkit-font-variant-ligatures: none;
    /* overflow-x: hidden;  */
    overflow-y: hidden; 
}


/*------- end of global styles -------*/
h1 {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--highlight-color);
    font-size: .8em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
    margin-bottom: 10px;
    text-align: left;
}

h2 {
    text-align: right;
}

h3 {
    float: left;
    clear: both;
    margin-left: var(--left-margin);
    font-size: .8em;
    margin-top: 20px;
    font-weight: 400;
}

.center-img {
    width: 100%;
    text-align: center;
    margin-bottom: -18px;
}

.main__icon {
    width: 32px;
}

.divider {
    clear: both;
}

.map-link__temp {
    float: left;
    margin: 10px 0;
    color: var(--bright-blue);
    clear: both;
    font-weight: 700;
    font-size: .7em;
}

.twitter-preview {
    text-align: left;
    clear: both;
    margin-left: var(--left-margin);
    line-height: 1.4em;
    font-variant-ligatures: none;
    letter-spacing: 2px;
    width: 70%;
    font-size: .9em;
    overflow: auto;
    max-height: 76px;
}

#price-buttons, #tag-buttons { 
    float: left;
    clear: both;
    width: 100%;
    margin-left: 4em;
    margin-top: 16px;
}

.price-button, .tag-button {
    float: left;
    border: var(--white-border);
    padding: 8px;
    text-align: center;
    border-radius: 3px;
    margin-right: 1em;
    font-size: 1.2em;
    cursor: pointer;
    transition-property: all;
    margin-bottom: 10px;
}

.price-button:active, .price-button:hover, .tag-button:active, .tag-button:hover   {
    border: var(--color-border);
    color: var(--highlight-color);
}

.info-block {
    overflow: scroll;
    height: 40vh;
}

.card-row {
    margin-top: 33%;
}

html {
    height: 100%;
}
body {
    background:  var(--gradient-down);
    font-family: var(--font-family-body);
    color: var(--main-color);
    font-weight: 200;
    letter-spacing: 4px;

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.logo-header {
    margin-top: 20px;
}

.material-icons {
    color: var(--highlight-color);
}

#sortType {
    float: right;
    margin-right: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .4em;
    margin-top: 10px;
}

#map {
    width: 100%;
    height: 40vh;
  }


.card-panel {
    background-color: var(--light-bg-color);
}


input, .orange, option{
    color: var(--highlight-color);
}

.btn {
    background-color: var(--light-gray);
    color: var(--highlight-color);
}

.btn:hover {
    background-color: var(--light-gray);
    color: var(--highlight-color-light);
}

.caption {
    color: var(--highlight-color);
}

label {
    font-family: var(--font-family-body);
    color: var(--main-color);
    font-variant-ligatures: none;
}

.label-align {
    margin: auto;
    text-align: center;
}

input, input.select-dropdown{
    border-bottom: var(--white-border) !important;
    text-align: center;
    color: var(--main-color);
}

.dropdown-content {
    background-color: var(--darkest-color);
}

.dropdown-content li>a, .dropdown-content li>span {
    color: var(--main-color);
    text-align: center;
    opacity: 1;
}

button, .btn, input[type=submit]{
    border: 1px solid;
    margin-top: 20px;
}

a {
    text-decoration: none;
}




/* fixing the input spin */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}




#user-input, #main-display {
    display: block;
}

.eventful-small {     
    position: relative    !important;
    width: 100px          !important;
    font-size: 11px       !important;
    line-height: 11px     !important;
    float: right;
    margin-bottom: 10px;
    margin-top: -38px;
  }

  ::-webkit-scrollbar { 
    display: none; 
}